{{#if isSecondary}}
<h1>Secondary</h1>
<ul class="nav" role="menu">
    {{#foreach navigation}}
    <li class="nav-{{slug}}" role="menuitem">
        <a href="{{url}}">
            <svg class="icon" role="img" aria-label="{{slug}} icon">
                <title>{{slug}}</title>
                <use xlink:href="#{{slug}}"></use>
            </svg>
        </a>
    </li>
    {{/foreach}}
</ul>
{{else}}
<div class="block lg:hidden">
    <button id="nav-toggle"
        class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
    </button>
</div>
<div id="nav-content" class="w-full block flex-grow hidden lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
        {{#foreach navigation}}
        <a href="{{url absolute="true"}}"
            class="{{link_class for=(url) class=(concat "nav-" slug)}} block mt-4 lg:inline-block lg:mt-0 text-white hover:text-blue-light mr-4">
            {{label}}
        </a>
        {{/foreach}}
    </div>
    <div class="hidden md:block lg:block">
        {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank"
            rel="noopener">{{> "icons/facebook"}}</a>
        {{/if}}
        {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
        {{/if}}
        <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank"
            rel="noopener">{{> "icons/rss"}}</a>
    </div>
</div>
{{/if}}